# Ignore build scripts and auxiliary files
Makefile linguist-generated
*.mk linguist-generated
*.cmake linguist-generated
CMakeLists.txt linguist-generated

# Ignore SWIG interface files
*.i linguist-vendored
*.swig linguist-vendored

# Ensure C++ files are classified correctly
*.cpp linguist-detectable
*.h linguist-detectable
*.hpp linguist-detectable
